<template>
  <button class="px-5 py-3 font-medium text-white border-0 rounded bg-careers-blue-1 hover:shadow-blue">Sign in</button>
</template>

<script>
export default {
  name: 'ActionButton',
};
</script>
