<template>
  <img :src="imageUrl" class="w-8 h-8 object-contain rounded-3xl" alt="Profile Image" />
</template>

<script>
export default {
  name: 'ProfileImage',
  data() {
    return {
      imageUrl: 'https://yt3.ggpht.com/ytc/AMLnZu9W2h9scoXcwnKhrhI0qeCL34DXNbamX-rBosaN=s48-c-k-c0x00ffffff-no-rj',
    };
  },
};
</script>
